body {
    background: linear-gradient(to bottom right, #210C1A, #242E32) no-repeat center center fixed;
}

#calculator {
    width: 20rem;
    height: 30rem;
    background-color: black;
    color: white;
    box-shadow: 0 0 20px #888888;
    margin: 10rem auto;
}

#equation {
    background-color: rgba(88, 108, 107, 1);
    height: 10%;
    border-bottom: solid 1px black;
}

#answer {
    background-color: rgba(88, 108, 107, 1);
    height: 10%;
}

.keypad {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}

.special {
    width: 50%;
}

button {
    width: 25%;
    height: 20%;
}